/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #25133d;
}

p, ul, h1, h2 {
    margin: 0;
    padding: 0;
}

.obal {
    display: flex;
    flex-direction: column;
    width: 720px; /* obsah stránky je omezený do pruhu širokého 960px */
    height: 650px;
    margin: 0 auto; /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.obsah {
    flex: 1;
}
/* .hlavicka {
        display: flex; (lešpí abych nastavila flex než inline a řešila paddingy) 
        align-items: center;
        padding: 0 30px;
        height: x;
    } */


.hlavicka li { 
    display: inline-block;
	margin: 0;
    cursor: pointer;
    padding: 10px;
    margin: 0 15px; /*stačí jen zprava 0 15px 0 0 */    
}
.vybrana {
    text-transform: uppercase;
    font-weight: 700;  
}

.vizual {
    
    position: relative;
    width: 720px;
    height: 340px;
    background-image: url(images/pozadi.jpg);
    background-size: 100%;
    color: white;
    padding: 30px;
}

.nazev {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 15px;
}

.popis {
    font-size: 24px;
    font-weight: 300;
    width: 44%; /* místo šířky, změnit v html přímo zalomování <br /> */
    margin-bottom: 40px;
}

.telefon {
    position: absolute;
    bottom: 0; /*v tomhle případě raději použít bottom, down: 0 */
    right: 0;
}

.tlacitko { 
    width: 290px; /*tohle se vůbec neuplatnuje, protože nemám display: inline-block, vychází to proto z délky textu */
    padding: 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 2px 1px #25133d;
}
.stahnout {
    background-color: #48418e;
    margin-right: 15px;
}

.informace {
    background-color: transparent;
}

.kontejner {
    display: flex; 
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly; /*Ondra by ho tam vůbec neměl a nastavil jen padding: 30px; */
    text-align: center;
    font-size: 12px;
    color: #48418e;
}

.sloupec {
    flex: 1;

}
.foto img {
    margin-bottom: 10px; /*Ondra by nastavil spíš parentovi "class = foto */
    width: 50px;
}

.mininadpis {
    margin-bottom: 10px;
}

.web {  /*  zabalit všechno, co je v obalu, dát obalu display: flex, flex-direction: column, a potomkovi flex 1 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #48418e;
    height: 30px;
    font-size: 10px;
    color: white;
}

.minitext {
    font-size: 11px;
}
/* ----- zde začni psát vlastní CSS ----- */
